//* General functions and mixins *//

//colors
$hgray: #1c1c1c;
$hgray2: #2f2f2f;
$hgray3: #474747;
$hgray4: #242424;
$hblue: #a1bed9;
$hblue2: #001325;
$hwhite: #cbcbcb;
$hwhite2: #eeeeee;

//fonts
@font-face {
  font-family: NimbusSans;
  font-weight: bold;
  src: url('../assets/NimbusSanL-Bol.otf');
}
@font-face {
  font-family: NimbusSans;
  font-style: italic;
  font-weight: bold;
  src: url('../assets/NimbusSanL-BolIta.otf');
}
@font-face {
  font-family: NimbusSans;
  font-style: normal;
  src: url('../assets/NimbusSanL-Reg.otf');
}
@font-face {
  font-family: NimbusSans;
  font-style: italic;
  src: url('../assets/NimbusSanL-RegIta.otf');
}
$hfont: 'NimbusSans', sans-serif;

//Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;