@import 'vars', 'breakpoints';

section#about {
    background-image: url('../assets/bg-about.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $bruki-black;
    .about-wrapper {
        @include media-breakpoint-up(lg) {
            margin: 240px auto;
        }
    }
}