@import 'vars', 'breakpoints';

#footer {
    background-color: black;
    .footer-top {
        padding: 30px 0 !important;
        width: 80%;
        .our-brand {
            border-bottom: 1px solid $bruki-black;
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
            width: 100%;
            .socialMedia {
                display: flex-inline;
                justify-content: space-between;
                .socialMedia-item {
                    text-decoration: none;
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                    img {
                        height: 30px;
                        width: auto;
                    }
                }
            }
        }
        .contact {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 30px;
            .contact-item {
                align-items: center;
                display: inline-flex;
                font-size: .825rem;
                justify-content: flex-start;
                text-decoration: none;
                @include media-breakpoint-down(sm) {
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                    width: 100%;
                }
                @include media-breakpoint-up(md) {
                    width: 28%;
                }
                img {
                    height: 40px;
                    width: auto;
                    @include media-breakpoint-down(sm) {
                        margin-right: 30px;
                    }
                    @include media-breakpoint-up(md) {
                        margin-right: 15px;
                    }
                }
                .contact-item_label {
                    color: white;
                }
            }
        }
    }
    .footer-bottom {
        background-color: $bruki-black;
        color: white;
        font-size: .825rem;
        padding: 30px 0;
        text-align: center;
        width: 100%;
        .brand {
            color: $bruki-red;
        }
    }
}