@import 'vars', 'breakpoints';

header {
    background-color: $hgray;
    border-bottom: 1px solid $hgray3;
    color: white;
    display: flex;
    justify-content: center;
    line-height: 1.75rem;
    padding: 10px 0;
    position: relative;
    .header_button-back {
        background-image: linear-gradient(#242424, #2e2e2e 10%, #020202);
        border: 1px solid $hgray2;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        font-size: .75rem;
        font-weight: bold;
        left: .625rem;
        line-height: 1.75rem;
        padding: 0 0.5rem;
        position: absolute;
        top: 9px;
        &::before {
            content: '';
            display: inline-block;
            border-top: 2px solid white;
            border-left: 2px solid white;
            height: 3.5px;
            margin-right: 5px;
            transform: translateY(-2px) rotate(-45deg);
            width: 3.5px;
        }
    }
    .header_title {
        font-size: 1rem;
        margin: 0 auto;
    }
    .header_img-logo {
        height: 1.125rem;
        position: absolute;
        right: 0.75rem;
        top: 0.8125rem;
        width: auto;
    }
}