@import 'vars', 'breakpoints';

html, body {
    font-family: $hfont;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
}
#HiltonA1-app {
    .hidden {
        display: none;
    }
    .visible {
        display: block;
    }
}