@import 'vars', 'breakpoints';

#equipo {
    background-color: $bruki-gray;
    color: $bruki-black;
    .team-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        p {
            width: 100%;
        }
        .team-member {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 40px;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
            @include media-breakpoint-up(md) {
                width: 46%;
            }
            img {
                border-radius: 50%;
                height: auto;
                width: 35%;
            }
            .member-info {
                width: 60%;
                .member-name {
                    font-size: 1.25rem;
                    font-weight: bold;
                    margin: 0 0 .5rem;
                }
                .member-position {
                    margin: 0;
                }
            }
        }
    }
    
}